/* Général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(5, 81, 143); */
  background-color: rgb(35, 119, 234);
}

.container {
  width: 50%;
  min-width: 400px;
  max-width: 800px;
  /* height: 500px; */
  margin: auto;
  margin-top: 100px ;
  border: 5px solid navy;
  border-radius: 5px;
  background-color: rgb(5, 81, 143);
}

h1 {
  font-size: 40px;
  text-align: center;
  margin:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(250, 174, 112);
}

/* Formulaire */
.form {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  margin: auto;
  height: 50px;
}

.motDePasse {
  border: none;
  width: 80%;
  font-size: 30px;
  outline: none;
}

.btn {
  width: 10%;
  font-size: 20px;
  border:none;
  background-color: white;
  cursor: pointer;
}

/* Securite */
.niveau {
  display: flex;
}
.faible,
.moyen,
.fort {
  /* width:50px; */
  height: 10px;
  flex-grow: 1;
  visibility: hidden;
}
.faible {
  background-color: red;
}

.moyen {
  background-color: orange;
}

.fort {
  background-color: green;
}


/* Conseil */
.conseil {
  padding: .5em;
}

ul {
  list-style-type: "🔒" ; 
  
  color: rgb(250, 174, 112);
  width: 80%;
  margin: auto;
  font-family: cursive;
  font-size: 1.8em;
}
li {
  margin: .3em;
}
